 @model IEnumerable<DB.Models.list>
    
    @{
        ViewBag.Title = "Index";
    }
    
    <h2>Item List</h2><br>
    
    <table class="table table-bordered table-hover">
        <tr>
            <th>Item
            </th>
            <th>Price
            </th>
            <th>Description
            </th>
            <th>
                  
                        <a asp-controller="Home" asp-action="Create" class=" btn btn-success p-2"><i class="bi bi-pencil-square"></i>Add</a>&nbsp;
                    
            </th>

        </tr>
        @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                        <div role="group" class="w-60 btn-group">
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>&nbsp;
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                        </div>
            </td>
           
        </tr>
        }
    </table>